@import "tailwindcss";
@plugin "daisyui";

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
}
.primary{
  color: #FFA500;
}
.secondary{
  color: #4F4D4D;
}